@import "/styles/main.scss";

.label {
  margin: 0 0.5rem;
}

.toggle_switch {
  display: inline-block;
  margin-right: 0.65rem;
  position: relative;
  text-align: left;
  vertical-align: middle;
  width: 4.5rem;

  &_checkbox {
    display: none;
  }

  &_label {
    border-radius: 2rem;
    cursor: pointer;
    display: block;
    overflow: hidden;
  }

  &_inner {
    @include toggle_transition;

    display: block;
    margin-left: -100%;
    width: 200%;

    &:after,
    &:before {
      float: left;
      height: 2rem;
      line-height: 2rem;
      width: 50%;
    }

    &:after {
      background-color: #cacaca;
      color: white;
      content: attr(data-light);
      padding-right: 0.5rem;
      text-transform: uppercase;
      text-align: right;
    }

    &:before {
      background-color: $lochmara;
      color: white;
      content: attr(data-dark);
      padding-left: 0.5rem;
      text-transform: uppercase;
    }
  }

  &_switch {
    @include toggle_transition;

    background: white;
    border-radius: 2rem;
    bottom: 0;
    margin: 0.25rem;
    position: absolute;
    right: 2.5rem;
    width: 1.5rem;
    top: 0;
  }

  &_checkbox:checked + &_label {
    .toggle_switch_inner {
      margin-left: 0;
    }
    .toggle_switch_switch {
      right: 0;
    }
  }
}

.tooltip {
  position: absolute;
}
.tooltip:hover {
  cursor: help;
}
