@import "/styles/main.scss";

.card {
  border-radius: 2rem;
  border: 0.1rem solid $lochmara;
  transition: 1s;
  width: 30rem;

  &:hover {
    border-radius: 3rem;
    box-shadow: 0rem 0rem 0.1rem 0.1rem $lochmara;
    cursor: pointer;
  }

  section {
    padding: 4rem;
  }

  .button {
    margin: 0 auto;
    text-align: center;
  }

  .header {
    border-bottom: 0.1rem solid $lochmara;
    color: $lochmara;
    margin: 0 auto;
    text-align: center;
    width: 40%;
  }

  .menu {
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
  }

  .subtitle {
    padding-top: 0.25rem;
    text-align: center;
  }
}

@media (max-width: 767px) {
  .card {
    width: 80%;
  }
}
