@import "/styles/main.scss";

.button_container {
  border-radius: 2rem;
  display: inline-block;
  height: 2.5rem;
  overflow: hidden;
  position: relative;
  transition: 0.5s;
  width: 5rem;

  &:hover {
    border: 0.1rem solid $lochmara;
    margin-top: 0.01rem;
  }

  button {
    animation: ani2 0.6s steps(22) forwards;
    border: 0.1rem solid $lochmara;
    cursor: pointer;
    font-size: 0.75rem;
    font-weight: bold;
    height: 100%;
    letter-spacing: 0.05rem;
    width: 100%;

    @include button(
      $lochmara,
      "https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/nature-sprite.png",
      2300%,
      100%,
      white
    );

    &:disabled {
      animation: none;
      background-color: rgb(230, 225, 225);
      border-color: rgb(230, 225, 225);
      pointer-events: none;
    }

    &:hover {
      animation: ani 0.6s steps(22) forwards;
    }
  }

  .mas {
    color: $lochmara;

    font-size: 0.75rem;
    font-weight: bold;
    margin: 0.6rem auto 0.61rem;
    position: absolute;
    text-align: center;
    width: 100%;
  }
}

@-webkit-keyframes ani {
  from {
    mask-position: 0 0;
  }

  to {
    mask-position: 100% 0;
  }
}

@keyframes ani {
  from {
    mask-position: 0 0;
  }

  to {
    mask-position: 100% 0;
  }
}

@-webkit-keyframes ani2 {
  from {
    mask-position: 100% 0;
  }

  to {
    mask-position: 0 0;
  }
}

@keyframes ani2 {
  from {
    mask-position: 100% 0;
  }

  to {
    mask-position: 0 0;
  }
}
