@import "/styles/main.scss";

.backdrop {
  background-color: rgba(0, 0, 0, 0.8);
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 14;

  section {
    margin-top: 2rem;
    padding: 0 6rem;

    .button {
      margin: 0 auto;
      text-align: center;
    }

    .option {
      margin-top: 1.65rem;
      width: 45%;
    }
  }

  .header {
    border-bottom: 0.1rem solid $lochmara;
    color: $lochmara;
    margin: 0 auto;
    text-align: center;
    width: 25%;
  }

  .link_to_close_dialog {
    align-items: center;
    border: 0.1rem solid $pickled-bluewood;
    border-radius: 3rem;
    color: $pickled-bluewood;
    display: flex;
    font-size: 2.2rem;
    height: 3rem;
    justify-content: center;
    position: absolute;
    transition: 0.5s;
    width: 3rem;

    &:before {
      content: "×";
      transform: translateX(0.07rem) translateY(-0.15rem);
    }

    &:focus,
    &:hover {
      border: 0.1rem solid $lochmara;
      color: $lochmara;
      transform: translateY(-0.1rem);
    }
  }

  .menu {
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
  }

  .subtitle {
    padding-top: 0.25rem;
    position: absolute;
    text-align: center;
    width: 100%;
  }

  .toggles > div {
    margin: 1.5rem 0 1.5rem 3.75rem;
  }
}

.dialog {
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0rem 0rem 1rem 0.1rem $white;
  overflow: hidden;
  position: fixed;
  top: 20vh;
  width: 80%;
  z-index: 101;
}

@media (min-width: 768px) {
  .dialog {
    left: calc(50% - 20rem);
    width: 40rem;
  }
}

.tooltip {
  margin-bottom: 1rem;
  position: absolute;
  left: 52.5%;
}
.tooltip:hover {
  cursor: help;
}
.tooltip_text {
  content: url("/question.svg");
}

.popup_bg {
  filter: drop-shadow(0 3px 6px rgba(0, 0, 0, 0.16))
    drop-shadow(0 3px 6px rgba(0, 0, 0, 0.23));
  position: absolute;
  left: 10rem;
  top: 200px;
}
.popup_outline {
  position: absolute;
  left: 10rem;
  top: 200px;
}
.popup_text {
  border-radius: 12px;
  box-sizing: border-box;
  color: #fff;
  font-size: 16px;
  font-weight: normal;
  left: 10rem;
  opacity: 0;
  padding: 12px 16px;
  position: absolute;
  top: 200px;
  transition: opacity 240ms 120ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 292px;
}
.popup_bg {
  opacity: 0;
  transition: opacity 240ms 120ms cubic-bezier(0.4, 0, 0.2, 1);
}
.popup_outline_left {
  stroke-dasharray: 0 426px;
  stroke-dashoffset: 1px;
  transition: stroke-dasharray 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.popup_outline_right {
  stroke-dasharray: 352px 352px;
  stroke-dashoffset: -352px;
  transition: stroke-dashoffset 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.tooltip:hover ~ .popup_text {
  opacity: 1;
}
.tooltip:hover ~ .popup_bg {
  opacity: 1;
  transition: opacity 240ms 120ms cubic-bezier(0.4, 0, 0.2, 1);
}
.tooltip:hover ~ .popup_outline .popup_outline_left {
  stroke-dasharray: 426px 426px;
  transition: stroke-dasharray 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
.tooltip:hover ~ .popup_outline .popup_outline_right {
  stroke-dashoffset: 0;
  transition: stroke-dashoffset 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
