@import "/styles/main.scss";

.backdrop {
  background-color: rgba(0, 0, 0, 0.8);
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 14;

  section {
    margin-top: 2rem;
    padding: 0 6rem;

    .button {
      margin: 0 auto;
      text-align: center;
    }

    .option {
      margin-top: 1.65rem;
      width: 45%;
    }
  }

  .header {
    border-bottom: 0.1rem solid $lochmara;
    color: $lochmara;
    margin: 0 auto;
    text-align: center;
    width: 25%;
  }

  .link_to_close_dialog {
    align-items: center;
    border: 0.1rem solid $pickled-bluewood;
    border-radius: 3rem;
    color: $pickled-bluewood;
    display: flex;
    font-size: 2.2rem;
    height: 3rem;
    justify-content: center;
    position: absolute;
    transition: 0.5s;
    width: 3rem;

    &:before {
      content: "×";
      transform: translateX(0.07rem) translateY(-0.15rem);
    }

    &:focus,
    &:hover {
      border: 0.1rem solid $lochmara;
      color: $lochmara;
      transform: translateY(-0.1rem);
    }
  }

  .menu {
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
  }

  .subtitle {
    padding-top: 0.25rem;
    position: absolute;
    text-align: center;
    width: 100%;
  }

  .toggles > div {
    margin: 1.5rem 0 1.5rem 3.75rem;
  }
}

.dialog {
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0rem 0rem 1rem 0.1rem $white;
  overflow: hidden;
  position: fixed;
  top: 20vh;
  width: 80%;
  z-index: 101;
}

@media (min-width: 768px) {
  .dialog {
    left: calc(50% - 20rem);
    width: 40rem;
  }
}
