@import "/styles/main.scss";

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;

  width: 100vw;

  span {
    border-top: 0.1rem solid $lochmara;
    color: $lochmara;
    padding: 1rem 0;
    text-align: center;
    width: 60%;

    @media (max-width: 767px) {
      width: 90%;
    }
  }
}
