@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;600;900&display=swap");

$mulish: "Mulish", sans-serif;

// Based on https://chir.ag/projects/name-that-color/.
$lochmara: #0088cc;
$pickled-bluewood: #303757;
$white: #ffffff;
