@import "/styles/main.scss";

.pool_search_tab_wrapper {
  input {
    border: 0.1rem solid $lochmara;
    border-radius: 3rem;
    color: $lochmara;
    padding: 1rem 12rem 1rem 2rem;

    &::placeholder {
      color: $lochmara;
    }
    &:focus {
      border: 0.1rem solid $pickled-bluewood;
      color: $lochmara;
    }
  }
}
