@import "/styles/main.scss";

.tooltip {
  content: url("/question.svg");
  margin: 0 4rem 0.5rem 0;
  z-index: 5;

  &:hover {
    cursor: help;

    ~ .popup_bg {
      transition: opacity 0.2s 0.5s cubic-bezier(1, 0.2, 0.2, 1);
    }

    ~ .popup_text,
    ~ .popup_bg {
      opacity: 1;
    }

    ~ .popup_outline .popup_outline_left,
    ~ .popup_outline .popup_outline_right {
      stroke-dasharray: 0;
      transition: stroke-dasharray 0.5s cubic-bezier(1, 0.2, 0.2, 1);
    }
  }
}

.popup_outline {
  left: 19rem;
  position: absolute;
}

.popup_bg {
  left: 19rem;
  opacity: 0;
  position: absolute;
}

.popup_outline_left {
  stroke-dasharray: 225rem 225rem;
  stroke-dashoffset: -50rem;
}

.popup_outline_right {
  stroke-dasharray: 0 45rem;
  stroke-dashoffset: 5rem;
}

.popup_text {
  color: white;
  left: 18.75rem;
  padding: 1rem;
  opacity: 0;
  position: absolute;
}
