@import "/styles/main.scss";

.backdrop {
  background-color: rgba(0, 0, 0, 0.8);
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 4;

  section {
    p {
      padding-top: 0.75rem;
      text-align: center;
    }

    .button {
      margin: 0 auto;
      text-align: center;
    }
  }

  .dialog {
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0rem 0rem 1rem 0.1rem $white;
    left: calc(50% - 20rem);
    position: fixed;
    top: 20vh;
    width: 40rem;
    z-index: 5;

    @media (max-width: 767px) {
      left: calc(50% - 10rem);
      width: 20rem;
    }
  }

  .header {
    border-bottom: 0.1rem solid $lochmara;
    color: $lochmara;
    margin: 0 auto;
    text-align: center;
    width: 25%;
  }

  .link_to_close_dialog {
    align-items: center;
    border: 0.1rem solid $pickled-bluewood;
    border-radius: 3rem;
    color: $pickled-bluewood;
    display: flex;
    font-size: 2.2rem;
    height: 3rem;
    justify-content: center;
    position: absolute;
    transition: 0.5s;
    width: 3rem;

    &:before {
      content: "x";
      transform: translateX(0.07rem) translateY(-0.15rem);
    }

    &:focus,
    &:hover {
      border: 0.1rem solid $lochmara;
      color: $lochmara;
      transform: translateY(-0.1rem);
    }
  }

  .menu {
    display: flex;
    justify-content: flex-end;
    padding: 1rem;
  }
}
