@import "/styles/main.scss";

.dialog {
  border-radius: 3rem;
  border: 0.1rem solid $lochmara;
  overflow: hidden;
  position: fixed;
  top: 20vh;
  width: 80%;

  section {
    padding: 4rem;

    p {
      padding-top: 0.75rem;
      text-align: center;
    }

    .button {
      margin: 0 auto;
      text-align: center;
    }
  }

  &:hover {
    box-shadow: 0rem 0rem 0.1rem 0.1rem $lochmara;
    cursor: pointer;
  }
}

.header {
  border-bottom: 0.1rem solid $lochmara;
  color: $lochmara;
  margin: 0 auto;
  text-align: center;
  width: 15%;
}

.link_to_open_dialog {
  align-items: center;
  border: 1px solid $pickled-bluewood;
  border-radius: 3rem;
  color: $pickled-bluewood;
  display: flex;
  font-size: 2.2rem;
  height: 3rem;
  justify-content: center;
  position: absolute;
  transition: 0.5s;
  width: 3rem;

  &:before {
    content: "⚙️";
    font-size: 2rem;
    transform: translateX(0.07rem) translateY(-0.15rem);
  }

  &:focus,
  &:hover {
    border: 1px solid $lochmara;
    color: $lochmara;
    transform: translateY(-0.1rem);
  }
}

.menu {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
}

.subtitle {
  padding-top: 0.25rem;
  position: absolute;
  text-align: center;
  width: 100%;
}

@media (min-width: 768px) {
  .dialog {
    left: calc(50% - 20rem);
    width: 40rem;
  }
}
