@import "./main.scss";

.backdrop {
  background-color: rgba(0, 0, 0, 0.8);
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;

  section {
    padding: 1rem;
  }
}

.dialog {
  background-color: white;
  border-radius: 1rem;
  overflow: hidden;
  position: fixed;
  top: 20vh;
  width: 80%;
  z-index: 3;
}

.header {
  background-color: $lochmara;
  color: white;
  padding: 1rem;
  text-align: center;
  width: 100%;

  .menu {
    display: flex;
    justify-content: flex-end;
  }
}

@media (min-width: 768px) {
  .dialog {
    left: calc(50% - 20rem);
    width: 40rem;
  }
}
