@import "./abstract/_variables.scss";
@import "./abstract/_mixins.scss";


.drop {
  position: relative;
}

.drop_content {
  position: absolute;
  top: 190%;
  right: 0px;
  min-width: 130px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 1px 4px rgb(0 0 0 / 27%), 0 0 40px rgb(0 0 0 / 6%) inset;
  box-shadow: 0 1px 4px rgb(0 0 0 / 27%), 0 0 40px rgb(0 0 0 / 6%) inset;
  -webkit-transition: all 0.6s;
  -o-transition: all 0.6s;
  transition: all 0.6s;
  border-top: 2px solid #464593;
  display: none;
  z-index: 1;
}