@import "./abstract/_variables.scss";
@import "./abstract/_mixins.scss";

.navbar {
  background-color: $pickled-bluewood;
}

.highlighted {
  background-color: $lochmara;
  color: $white;
}

.button_custom {
  width: 50%;
  margin: 20px 0;
  &:focus {
    box-shadow: none;
  }
}

