@import "./abstract/_variables.scss";
@import "./abstract/_mixins.scss";

.navbar {
  background-color: $pickled-bluewood;
}

.highlighted {
  color: $lochmara;
}

.nav_link {
  display: block;
  padding: 0.5rem 1rem;
  color: $white;
  text-decoration: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
  &:hover {
    color: $lochmara;
  }
}
.white {
  color: $white;
}
