@import "./main.scss";
@import "./next_starter.scss";

.trade_tab {
  background-position: center center;
  background-repeat: no-repeat;
  bottom: -10rem; // TODO: It might be dropped later when styling will be from the parent component containing this component.
  margin: -2rem auto 5rem;
  max-width: 60rem;
  min-width: 30rem;
  padding: 2rem 1rem;
  position: relative;

  .tit {
    color: $white;
    font-family: $mulish;
    text-align: center;
  }
}

.activet {
  display: block;
}

.sha {
  font-family: $mulish;
  font-weight: bold;
  color: $white;
}

.txt_wrapper {
  max-width: 50rem;
  margin: 1.5rem auto 0;

  .tot {
    border-top: 1px dashed $white;
    margin-top: 1rem;
    padding-top: 0.5rem;
  }
}

.val {
  color: $white;
  font-family: $mulish;
  font-weight: bold;
}

.wrap {
  margin-top: 1rem;

  .rangee_wrapper {
    background-color: $pickled-bluewood;
    border-radius: 1rem;
    padding: 0.5rem 1rem;

    .number {
      background-color: $lochmara;
      border-radius: 1rem;
      height: 3rem;
      margin: 0.25rem;
      padding-top: 0.75rem;
      width: 6rem;

      p {
        color: $white;
        font-family: $mulish;
        font-size: 2rem;
        font-weight: bold;
      }
    }
    .minus,
    .plus {
      @include transition(all 0.6s);

      background-color: $lochmara;
      border-radius: 2rem;
      cursor: pointer;
      height: 2.5rem;
      width: 2.5rem;

      svg {
        color: $white;
        display: inline-block;
        font-size: 1.5rem;
      }
      &:hover {
        background-color: $lochmara;
      }
    }
  }
}

.drop_content {
  height: 600px;
  width: 300px;
  overflow-y: scroll;
  z-index: 1;
}

.drop_close {
display: none;
}