@import "./main.scss";
@import "./next_starter.scss";

.pool_name {
  margin-left: 1rem;

  p {
    color: $white;
    font-family: $mulish;
    font-weight: 600;
    line-height: 1.667;
  }
}

.pools_info {
  padding: 8rem 0 7rem;

  p {
    color: $pickled-bluewood;
    font-family: $mulish;
  }
  .name {
    color: $lochmara;
    font-family: $mulish;
    font-weight: bold;
    margin-top: 0.25rem;
  }
}

.pool_search_tab_wrapper {
  input {
    border: 1px solid $lochmara;
    border-radius: 3rem;
    color: $white;
    font-family: $mulish;
    padding: 1rem 12rem 1rem 2rem;

    &::placeholder {
      font-family: $mulish;
      color: $lochmara;
    }
    &:focus {
      border: 1px solid $pickled-bluewood;
      color: $lochmara;
    }
  }

  .pools_responsive_table_wrapper {
    .table {
      border-collapse: separate;
      border-spacing: 0 1.5rem;

      tr {
        background-color: $lochmara;

        td {
          padding: 1rem 0.8rem;
          vertical-align: middle;

          &:first-child {
            border-radius: 3rem 0 0 3rem;
            padding-left: 1rem;
          }
          &:last-child {
            border-radius: 0 3rem 3rem 0;
            padding-right: 1rem;
          }
        }

        .price {
          margin-right: 2rem;

          p {
            &:first-child {
              color: $white;
              font-family: $mulish;
              font-weight: bold;

              i {
                color: $white;
              }
            }
            &:last-child {
              color: rgb(11, 80, 22);
              font-family: $mulish;
              font-weight: bold;

              i {
                color: rgb(11, 80, 22);
              }
            }

            svg {
              display: inline-block;
              max-width: 1rem;
            }
          }
        }
      }
    }
  }
}

.show_wrapper {
  display: inline-block;

  input {
    border: 0.1rem solid $lochmara;
    border-radius: 3rem;
    color: $pickled-bluewood;
    font-family: $mulish;
    padding: 0.5rem 0 0.5rem 2rem;
    max-width: 5rem;

    &::placeholder {
      font-family: $mulish;
    }
    &:focus {
      color: $lochmara;
    }
  }
}

.wrapper {
  img {
    max-width: 55px;
  }
}
