@import "./main.scss";
@import "/styles/Home.module.scss";

.pools_info {
  p {
    color: $pickled-bluewood;
  }

  .label {
    color: $lochmara;

    font-weight: bold;
    margin-top: 0.25rem;
  }
}
