@import "./main.scss";

.styled_table {
  border-radius: 0.5rem;
  box-shadow: 0.01rem 0.01rem 0.1rem $lochmara;
  margin: 2rem 0.5rem;
  font-family: $mulish;
  min-width: 25rem;
  width: 100%;

  thead tr {
    color: $pickled-bluewood;
    border-radius: 3rem;
  }

  td,
  th,
  tr {
    padding: 1rem;
  }

  tbody tr {
    border-bottom: 0.01rem solid $lochmara;

    &.active_row {
      color: $pickled-bluewood;
      font-weight: bold;
    }

    &:last-of-type {
      border-bottom: none;
    }

    &:nth-of-type(even) {
      background-color: rgba(0, 136, 204, 0.2);
    }
  }
}
