@import "./main.scss";
@import "/styles/Home.module.scss";

.pools_info {
  p {
    color: $pickled-bluewood;
  }

  .name {
    color: $lochmara;

    font-weight: bold;
    margin-top: 0.25rem;
  }
}

.pool_search_tab_wrapper {
  input {
    border: 0.1rem solid $lochmara;
    border-radius: 3rem;
    color: $white;
    padding: 1rem 12rem 1rem 2rem;

    &::placeholder {
      color: $lochmara;
    }
    &:focus {
      border: 0.1rem solid $pickled-bluewood;
      color: $lochmara;
    }
  }

  .pools_responsive_table_wrapper {
    .table {
      border-collapse: separate;
      border-spacing: 0 1.5rem;

      tr {
        background-color: $lochmara;

        td {
          padding: 1rem 0.8rem;
          vertical-align: middle;

          &:first-child {
            border-radius: 3rem 0 0 3rem;
            padding-left: 1rem;
          }
          &:last-child {
            border-radius: 0 3rem 3rem 0;
            padding-right: 1rem;
          }
        }

        .price {
          margin-right: 2rem;

          p {
            &:first-child {
              color: $white;

              font-weight: bold;

              i {
                color: $white;
              }
            }
            &:last-child {
              color: rgb(11, 80, 22);

              font-weight: bold;

              i {
                color: rgb(11, 80, 22);
              }
            }

            svg {
              display: inline-block;
              max-width: 1rem;
            }
          }
        }
      }
    }
  }
}

.show_wrapper {
  display: inline-block;

  input {
    border: 0.1rem solid $lochmara;
    border-radius: 3rem;
    color: $pickled-bluewood;
    display: inline-block;

    max-width: 5rem;
    padding: 0.5rem 0 0.5rem 2rem;

    &:focus {
      color: $lochmara;
    }
  }
}
